* {
    -webkit-user-select: none;
}

body {
    background: #323947;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    width: 480px;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    transition: .2s;
}

#win {
    position: absolute;
    background-color: red;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    top: 30%;
    width: 0;
    left: 0;
}

#win-text {
    opacity: 0;
}
