* {
    -webkit-user-select: none;
}

body {
    background: #323947;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    width: 480px;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    transition: .2s;
}

#win {
    position: absolute;
    background-color: red;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    top: 30%;
    width: 0;
    left: 0;
}

#win-text {
    opacity: 0;
}

#check-text {
    opacity: 0;
}

#check {
    position: absolute;
    background-color: red;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    top: 30%;
    width: 0;
    left: 0;
}

.dev {
    display: inline;
}

/* Rules Sidebar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding: 40px 0;
    transition: 0.5s;
    color: #818181;
}

.sidenav > * {
    padding: 20px;
    color: #818181;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 46px;
  text-decoration: none;
  cursor: pointer;
}

#rules-button {
    position: absolute;
    left: 3rem;
    bottom: 3rem;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
}