* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3a5367;
}

.main-title {
    margin-top: 100px;
    margin-bottom: 40px;
    background: #567b98;
    padding: 40px 80px;
    font-size: 60px;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

.menu-button {
    border: none;
    background: #567b98;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    font-variant: small-caps;
}

.menu-button:hover {
    background: #7096b4;
}

.settings-div {
    margin: 20px 0px;
    padding: 20px 80px;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    font-variant: small-caps;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #567b98;
}

#blitz {
    display: none;
}

.radio {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.radio input[type="radio"] {
    transform: scale(2);
    margin-right: 20px;
}

.checkbox {
    margin-right: 30px;
}

.checkbox input {
    transform: scale(3);
    margin-left: 20px;
    margin-right: 10px;
}

.subtitle {
    font-family: sans-serif;
    font-style: italic;
    position: absolute;
    left: 20px;
    bottom: 10px;
}