* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#timer {
    margin: 1em 0 5px 0;
    display: flex;
    top: 16%;
    left: 68%;
}

.timer-tile {
    display: flex;
    margin: 20px;

    width: 100px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.player1 {
    color: #000000;
    margin-top: 5px;
    background-color: #ffffff;
}

.player2 {
    color: #FFFFFF;
    margin-top: 5px;
    background-color: #2D2C2C;
}

.timer-digits {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
}
